
@{
    ViewBag.Title = "_DomainRowForNavigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>_DomainRowForNavigation</h2>
<tr class="row">
                <td >
                  @*  @Html.LabelFor(model => model.AccountType):*@
                </td>
                <td >
                   @* @Html.DropDownList("AccountType", Model.AvailableAccountType)
                    @Html.RequiredHint()
                    @Html.ValidationMessageFor(model => model.AccountType)*@
                </td>
            </tr>